﻿@{
    ViewData["Title"] = "Agregar Libro";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="container mt-5">
    <form method="post" action="@Url.Action("AgregarLibro", "Home")">
        <div class="row">
            <div class="col-md-6">
                <label>Titulo</label>
                <input type="text" name="titulo" class="form-control" placeholder="Titulo del Libro" required/>
            </div>
            <div class="col-md-6">
                <label>Sinopsis</label>
                <input type="text" name="sinopsis" class="form-control" placeholder="Sinopsis" required/>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <label>Nombre Autor</label>
                <input type="text" name="nombreAutor" class="form-control" placeholder="Nombre Autor" required/>
            </div>
            <div class="col-md-6">
                <label>Apellido Autor</label>
                <input type="text" name="apellidoAutor" class="form-control" placeholder="Apellido Autor" required/>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <label>Nombre Editorial</label>
                <input type="text" name="nombreEditorial" class="form-control" placeholder="Nombre Editorial" required />
            </div>
            <div class="col-md-6">
                <label>Sede Editorial</label>
                <input type="text" name="sedeEditorial" class="form-control" placeholder="Sede Editorial" required />
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-6">
                <label>Numero de paginas</label>
                <input type="number" name="n_paginas" class="form-control" placeholder="Numero de paginas" required />
            </div>
        </div>
        <hr />
        <div class="row mt-4">
            <div class="col-md text-center">
                <input type="submit"  class="btn btn-dark" value="Agregar Libro" />
            </div>
        </div>
    </form>
    
</div>
