﻿@{
    ViewData["Title"] = "Detalle Libro";
}
<h1 class="text-center">@Model.libro.titulo</h1>
<hr />

<div class="row mt-5">
    
    <div class="col-md text-center">
            <h5>Sinopsis: </h5>
            <br />
            <p style="text-align:justify;">@Model.libro.sinopsis</p>
    </div>
    <div class="col-md-4">
        <img src="https://img.freepik.com/vector-gratis/libro-abierto-paginas-vacias_1308-78915.jpg" width="250px" height="250px" />
    </div>
    <hr />
    <div class="row mt-3">
        <div class="col-md-6">
            <label>Autor:</label>
            <h5>@Model.autor.nombre @Model.autor.apellidos</h5>
        </div>    
        
        <hr />
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Editorial:</label>
            <h5>@Model.editorial.nombre - @Model.editorial.sede</h5>
        </div>    
    </div>
    <hr />
    
    
</div>
