﻿
@{
    ViewData["Title"] = "Home Page";
    
}
<h1 class="text-center">Biblioteca</h1>
<hr />
<div class="text-center mt-5">
    <table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Titulo Libro</th>
      <th scope="col">Autor</th>
      <th scope="col">Editorial</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @foreach (PruebaTecnica.Dtos.Response.Libro item in Model)
        {
            <tr>
              <td>@item.libro.titulo</td>
              <td>@item.autor.nombre @item.autor.apellidos</td>
              <td>@item.editorial.nombre</td>
              <td><a type="button" href="@Url.Action("Book","Home", new {id = @item.libro.ISBN})" class="btn btn-dark">Ver Detalles</a> </td>
            </tr>
        }
    
  </tbody>
</table>
</div>
